s
body {
  direction: rtl;
  text-align: right;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.6;
  margin: 2rem;
}

ul, ol {
  padding-right: 1.5rem;
  padding-left: 0;
}

li {
  text-align: right;
}

h1, h2, h3, h4 {
  text-align: right;
}
