---
layout: home
classes: recipe-page
title: false
header:
  show: false
pagination:
  previous_label: "המתכון הקודם"
  next_label: "המתכון הבא"
---

<article class="recipe-container">

  <header class="recipe-header">
    {% if page.last_updated %}
    <p class="recipe-updated">
    עודכן לאחרונה: {{ page.last_updated | date: "%d.%m.%Y" }}
    </p>
    {% endif %}

    <p>
      <a href="{{ '/' | relative_url }}">← חזרה לרשימת המתכונים</a>
    </p>

    <h1 class="recipe-title">{{ page.title }}</h1>

    {% if page.description %}
      <p class="recipe-description">{{ page.description }}</p>
    {% endif %}
    </br>

    <div class="recipe-meta">
      {% if page.category %}<span class="recipe-badge">{{ page.category }}</span>{% endif %}
      {% if page.type %}<span class="recipe-badge">{{ page.type }}</span>{% endif %}
      {% if page.origin %}<span class="recipe-badge">{{ page.origin }}</span>{% endif %}
      {% if page.diabetic_friendly %}<span class="recipe-badge">מתאים לסוכרתיים</span>{% endif %}
    </div>

    {% if page.image %}
      <img
        src="{{ page.image | relative_url }}"
        alt="{{ page.title }}"
        class="recipe-image"
        loading="lazy">
    {% endif %}
  </header>

  <section class="recipe-content">
    {{ content }}
  </section>
<hr>

<nav class="recipe-nav">
    {% if page.next %}
    <a style="float:left" href="{{ page.next.url | relative_url }}">
      המתכון הקודם  →
    </a>
  {% endif %}

  {% if page.previous %}
    <a href="{{ page.previous.url | relative_url }}">← המתכון הבא</a>
  {% endif %}
</nav>
</article>


